.nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about p {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  line-height: 2rem;
  border: 2px solid green;
  background: cornflowerblue;
  color: white;
  border-radius: 20px;
}

/* .projects ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
